{% load static %}

<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
{% for experience in work_experience %}
    {% ifchanged experience.company %}
    <div class="work-container">
        <div class="row">
            <div class="col-xxl-1 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-3">
                <img src="{% static 'img/tinkoff_logo.svg' %}" class="img-fluid">
            </div>
            <div class="col-xxl-11 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-9">
                <h2>{{ experience.company.name }}</h2>
                {% include 'main_page/_experience_card.html' %}
        {% else %}
                {% include 'main_page/_experience_card.html' %}
            </div>
        </div>
    </div>
    {% endifchanged %}
    {% if not forloop.last %}
        <hr>
    {% else %}
            </div>
        </div>
    </div>
    {% endif %}
{% endfor %}
</div>