{% load static %}

<div class="col-lg-3 ">
    <div class="card left-profile-card">
        <div class="card-body">
            <div class="text-center">
                <img src="{% static 'img/profile.jpg' %}" alt="" class="user-profile">
                <h3>Bogdan Burich</h3>
                <p>{{ current_job.role }} at <a href="{{ current_job.company.link }}">{{ current_job.company.name }}</a></p>
                <hr>
            </div>
            <div class="personal-info">
                <h3>Personal Information</h3>
                <ul class="personal-list">
                    <li><i class="fas fa-briefcase "></i><span>System Analyst</span></li>
                    <li><i class="fas fa-map-marker-alt "></i><span>Tbilisi, Georgia</span></li>
                    <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/bogdan-burich/">LinkedIn</a></li>
                    <li><i class="fab fa-github"></i><a href="https://github.com/bogdanburich/">Github</a></li>
                    <li><i class="fab fa-telegram-plane" aria-hidden="true"></i><a href="https://t.me/BogdanBurich">bogdanburich</a></li>
                </ul>
            </div>
            <div class="skill">
                <h3>Skills</h3>
                {% for skill in skills %}
                    <p>{{ skill.name }}</p>
                {% endfor %}
            </div>
            <div class="skill">
                <h3>Instruments</h3>
                {% for instrument in instruments %}
                    <p>{{ instrument.name }}</p>
                {% endfor %}
            </div>
            <div class="languages">
                <h3>Languages</h3>
                <p>Russian <span class="badge bg-secondary">Native</span></p>
                <p>English <span class="badge bg-secondary">B1-B2</span></p>
            </div>
        </div>
    </div>
</div>