<div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">
    {% for project in projects %}
    <div class="work-container">
        <div class="work-container-title">
            <h3>{{ project.title }}</h3>
            <div class="work-container-title-icon">
                {% if project.link %}<i class="fas fa-link"></i><a href="{{ project.link }}">Link</a>{% endif %}
                <i class="fab fa-github"></i><a href="{{ project.link }}">Github</a>
            </div>
        </div>
        <p>{{ project.description }}</p>
    </div>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
</div>